<<<<<<< Updated upstream
/* Global Styles */

root { 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

ul, ol {
  margin-bottom: 1rem;
}
=======
/* Global variables */
:root {
    /* typography */
    --primary-font: "Open Sans", sans-serif;
    --headline-font: "Roboto", serif;
    --fw-l: 300;
    --fw-m: 500;
    --fw-b: 700;
    --fs-base: 1rem;
    --line-h: 1.5;
    
    /*    Colors   */
    --primary-color: #0077BE; 
    --secondary-color: #008080;
    --neutral-lt-color: #fff;
    --accent-color: #EBC76A;
    --text-color: #1E1E1E;
    --neutral-dk-color: #0077BE; 
;
    
    
    /*    helper   */
    --spacer: 1rem;
    --spacer-dbl: calc(var(--spacer) * 2);
    --border-radius: 5px;
    --shadow: 1px 1px 3px rgba(0, 0, 0, .3);
   


>>>>>>> Stashed changes
